<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="details">
          <div class="img">
          <img src="assets/profile.jpg">
          </div>
          <div>
           <h3>DOROTHY E. AVESTRUZ</h3>
           
           <a href="faceboook.com"><ion-icon name="logo-facebook"></ion-icon></a>
           <a href="gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
           <a href="github.com"><ion-icon name="logo-github"></ion-icon></a>
           <a href="instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
          </div>
  </section>

  <ion-card>
    <ion-card-header>
      <ion-card-title>See More About Myself</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Hello! I'm 21 years old. A BSIT student of Eastern Visayas State University-Carigara Campus. I'm an SSG IT Representative. I do love singing, dancing, eating, and drawing. Favorite Quote: "SIMPLICITY IS THE SOUL OF EFFICIENCY". Weaknesses: INTROVERTED, EASILY GET BORED, AND SENSITIVE. Strengths: CREATIVITY, DEDICATION, TAKING INITIATIVE, AND BETTER AT MULTITASKING. My favorite Bible verse is "I CAN DO ALL THINGS THROUGH CHRIST WHO STRENGTHENS ME" - 4:13. GOD is my saviour. Through him, I can handle all the problems and difficulties in life. He is the reason why I remain strong and determined to keep fighting.
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Sitio Lutao, Brgy. Santarin, Barugo, Leyte
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      (College) EASTERN VISAYAS STATE UNIVERSITY - CARIGARA CAMPUS - current (Junior and Senior High School) BARUGO NATIONAL HIGH SCHOOL (Elementary) BARUGO II CENTRAL SCHOOL
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      (Mobile) 09276940796 (Email) dorothyavestruz@gmail.com
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Info</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      (Gender) FEMALE (Birthday) OCTOBER 22, 2000 (Languages) FILIPINO AND ENGLISH (Religious) ROMAN CATHOLIC
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Other Names</ion-card-title>
    </ion-card-header>
   <ion-card-content>
       Dots
    </ion-card-content>
  </ion-card>
</ion-content>